[Desktop Entry]
Type=Application
Version=1.0
Name=Install ShaneSpaceOS
GenericName=ShaneSpaceOS Installer
Exec=shanespaceos-install
Comment=Calamares — Installer for ShaneSpaceOS
Keywords=calamares;system;install;debian;installer;shanespaces
Icon=/usr/share/desktop-base/shanespaceos-logos/logo-32.png
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
