[Desktop Entry]
Type=Action
Profiles=on_file;
Name=Edit As Root
Tooltip=Edit As Root
ToolbarLabel=Edit As Root
Icon=gtk-dialog-authentication

[X-Action-Profile on_file]
MimeTypes=all/allfiles;!inode/directory;
Exec=runas %f
Name=Edit File As Root
