.xfce4-panel.background
{
	background-color: #282C2D;
}

.xfce4-panel.panel .toggle,
.xfce4-panel button
{
	background-color:transparent;
	padding: 6px;
	box-shadow: none;
}

.xfce4-panel.background button.flat,
.xfce4-panel.background button.sidebar-button
{
    color: #FFFFFF;
    background-color: transparent;
    border-radius: 0;
    border: none;
}

.xfce4-panel.background .tasklist button
{
	border-bottom: 2px solid blue;
}

.xfce4-panel.background button.flat:hover,
.xfce4-panel.background button.sidebar-button:hover,
.xfce4-panel.background .tasklist button:hover
{
	border: none;
	background-color:rgba(255,255,255,0.1);
}

.xfce4-panel.background button.flat:active,
.xfce4-panel.background button.flat:checked,
.xfce4-panel.background button.sidebar-button:active,
.xfce4-panel.background button.sidebar-button:checked,
.xfce4-panel.background .tasklist button:checked,
.xfce4-panel.background .tasklist button:active 
{
    color: #FFFFFF;
    border: none;
	background-color:rgba(255,255,255,0.2);
}

.xfce4-panel.background .tasklist button {
    color: #FFFFFF;
    border-radius: 0;
    border: none;
    background-color: transparent;
    padding-bottom: 0;
    padding-top: 0;
}